<div class="header">
	<button type="button" class="settings-btn">
		<img src="../../assets/images/person-cog.svg" alt="">
	</button>
</div>
<div class="main-container">
	<div class="grid-wrap">
		<div class="card">
			<div class="card-body">
				<img src="../../assets/images/Image-Master-6.png" class="product-img" alt="">
				<div class="price-tag">RRP £129.99</div>
				<div class="name-tag"><span class="theme-text">Burberry</span> Flowy Dress with pink and gold</div>
				<div class="size-tag">Size 4</div>
				<div class="rent-tag">£12.00 Rental</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<img src="../../assets/images/Image-Master-2.png" class="product-img" alt="">
				<div class="price-tag">RRP £129.99</div>
				<div class="name-tag"><span class="theme-text">Prada</span> Beach dress</div>
				<div class="size-tag">Size 8</div>
				<div class="rent-tag">£12.00 Rental</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<img src="../../assets/images/Image-Master-1.png" class="product-img" alt="">
				<div class="price-tag">RRP £129.99</div>
				<div class="name-tag"><span class="theme-text">Bhandage</span> Red dress for evening wear</div>
				<div class="size-tag">Size 12</div>
				<div class="rent-tag">£12.00 Rental</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<img src="../../assets/images/Image-Master-3.png" class="product-img" alt="">
				<div class="price-tag">RRP £129.99</div>
				<div class="name-tag"><span class="theme-text">Prada</span> Wedding guest</div>
				<div class="size-tag">Size 12</div>
				<div class="rent-tag">£12.00 Rental</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<img src="../../assets/images/Image-Master-4.png" class="product-img" alt="">
				<div class="price-tag">RRP £129.99</div>
				<div class="name-tag"><span class="theme-text">Ansell</span> Nightwear</div>
				<div class="size-tag">Size 14</div>
				<div class="rent-tag">£12.00 Rental</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<img src="../../assets/images/Image-Master-5.png" class="product-img" alt="">
				<div class="price-tag">RRP £129.99</div>
				<div class="name-tag"><span class="theme-text">Desacada</span> Summer dress</div>
				<div class="size-tag">Size 8</div>
				<div class="rent-tag">£12.00 Rental</div>
			</div>
		</div>
	</div>
</div>